<div class="profile-container">
    <div class="profile">
      <img class="profile-picture" src="../../assets/profile.png" alt="Profile Picture">
      <h5>{{ clients.first_name }} {{ clients.last_name }}</h5>
    </div>
    <!-- cart.component.html <app-cart></app-cart>-->
    <br/>
    <button (click)="viewCartItems()">View cart</button>
    
</div>

<div class="products-container">
  <h2>Products</h2>
  <ul class="product-list"> 
    <li *ngFor="let product of products" class="product">
      <img class="product-image" src="../../assets/bookProfile.jpg" alt="{{ product.title }}">
      <h4>{{ product.title }}</h4>
      <p>{{ product.description }}</p>
      <p>Price: R{{ product.price.toFixed(2) }}</p>
      
      <!--<label for="quantity">Quantity:</label>
      <input type="number" id="quantity" min="1" max="100" [value]="quantity" name="quantity">-->
      
          
      <button (click)="addToCart(product)">Add to Cart</button>
    </li>
  </ul>
</div>
